{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<body style="background-color:Orange;">
<title>Weather Checker</title>

{% endblock meta %}
{% block topnav %}
  <a href="/weather/">Check Cuaca</a>
  {% endblock topnav %}
{% block content %}
<div class="header">
  <h1>Weather Checker</h1>
  <h1>Pengecek Cuaca kota</h1>
</div>
<div class="content1">
  <p>Website ini dapat digunakan untuk mengecek cuaca suatu kota.<br>
     API cuaca yang digunakan yakni API dari <a href="https://openweathermap.org">Open Weather Map</a></p>
</div>


{% endblock content %}
